<h1>Confirmar Borrado  </h1>
<form  [formGroup]="ConfirmForm" (ngSubmit)="Delete()">
<button mat-raised-button type="submit" color="primary">Borrar</button>
</form>

<br>
<h1>Fotos borradas </h1>
<table id="photos">
  <tr>
      <th></th>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let photos of photos">
      <td>
          <a href="{{photos.thumbnailUrl}}" target="_blank" >
          <img height="40" src="{{photos.thumbnailUrl}}"/>
        </a>
      </td>
    <td *ngFor="let col of index">
      {{photos[col]}}
    </td>
  </tr>

</table>
