
<a   href="Photos/{{AlbumId}}/{{Id3}}"> << Regresar  </a>
<br>

<mat-card>*Debido a que la base solicitado json para esta prueba no es persistente para las transacciones solo se muestra la respuesta que provee el servicio</mat-card>



<br/>

<h1>Confirmar Borrado  </h1>
<form   (ngSubmit)="Delete()">
<button mat-raised-button type="submit" color="primary">Borrar</button>
</form>

<br/>
<h1 ng-model="ResultadoModel">Respuesta: {{ResultadoModel.resultado}}</h1>
<!-- <h1 *ngFor="let Resultado of Resultado">{{ Resultado.resultato }} </h1> -->

<div >
   
    <!-- <h1 [(ngModel)]="Resultado">{{resultado}}</h1> -->
  
  </div>
