<h1>Lista de usuarios  </h1>
<br>
<mat-card>Filtrar por ciudad</mat-card>
<form  [formGroup]="FilterForm2" (ngSubmit)="ngOnInit()">
  <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #c2185b;">search</mat-icon>
  <mat-form-field  class="">
    <mat-label style="color: #c2185b;">Ciudad</mat-label>   
    <input style="border-bottom: 2px solid #c2185b;" matInput placeholder="Ciudad del usuario" formControlName="city">    
  </mat-form-field>
  <button style="margin-left: 10px;" mat-raised-button type="submit" color="primary">Buscar por ciudad</button>
 
</form>
<br>
<mat-card>Filtrar por datos de usuario</mat-card>
<form  [formGroup]="FilterForm1" (ngSubmit)="ngOnInit()">
  <mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #c2185b;">search</mat-icon>
  <mat-form-field  class="">
    <mat-label style="color: #c2185b;">Nombre</mat-label>   
    <input style="border-bottom: 2px solid #c2185b;" matInput placeholder="Nombre" formControlName="name">    
  </mat-form-field>

  <mat-form-field style="margin-left: 25px;"  class="">
    <mat-label style="color: #c2185b;">Nombre de usuario</mat-label>   
    <input style="border-bottom: 2px solid #c2185b;" matInput placeholder="Nombre de usuario" formControlName="username">    
  </mat-form-field>


  <mat-form-field style="margin-left: 25px;"  class="">
    <mat-label style="color: #c2185b;">Email</mat-label>   
    <input style="border-bottom: 2px solid #c2185b;" matInput placeholder="Correo de usuario" formControlName="email">    
  </mat-form-field>

  <button style="margin-left: 10px;" mat-raised-button type="submit" color="primary">Buscar por datos de usuario</button>
</form>



<table mat-table class="mat-elevation-z8" id="users" >
  <tr>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
    <th></th>
  </tr>
  <tr *ngFor="let user of users">
    <td *ngFor="let col of index">
      {{user[col]}}
    </td>
    <td><a routerLink="Album/{{user.id}}"  ><mat-icon aria-hidden="false" aria-label="Example home icon" style="color: #c2185b;">collections</mat-icon> Albums</a></td>
  </tr>

</table>
