<a   href="Album/{{id2}}"> << Regresar a album </a>
<br>

<br>
<a class="center"   href="PhotoRegister/{{id}}/{{id2}}"> <mat-icon aria-hidden="false" aria-label="Example icon" style="color: #c2185b;">note_add</mat-icon> Registrar Fotos </a>
<br>
<h1 style="text-align: center;">Lista de fotos </h1>
<div  >

<table   mat-table class="center mat-elevation-z8"  id="photos">
  <tr>
      <th></th>
    <th *ngFor="let col of columns">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let photos of photos">
      <td>
          <a href="{{photos.thumbnailUrl}}" target="_blank" >
          <img height="40" src="{{photos.thumbnailUrl}}"/>
        </a>
      </td>
    <td *ngFor="let col of index">
      {{photos[col]}}
    </td>
    <td><a href="PhotosDelete/{{photos.id}}/{{photos.albumId}}/{{id2}}"  >Delete</a></td>
  </tr>

</table>
</div>